/*          fonts           */ 
$Thasadith: 'Thasadith', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Inconsolata: 'Inconsolata', monospace;

/*          colors          */

$primaryColor: #b3b3b3;
$secondaryColor: #10e08b;
$footerColor: #303030;

/*          number          */

$containerWidth: 1200px;
