body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #ffffff;

    a {
        color: #ffffff;
        text-decoration: none; 
    }
    
    aside {
        figcaption {
            color: #000000;
        }

        a,
        span{
            color: $primaryColor;
        }

    }

    header {

        .callback {
            text-align: right;
            
            a {
                font-weight: 800;
                font-size: 1.4em;
            }
            
            p {
                margin-top: 10px;
                font-weight: 600;
                font-size: 0.9em;
                text-transform: uppercase;
            }
        }
        
        .header-activity {
            font-weight: 700;

            p {
                font-size: 1.7em;
                color: $secondaryColor;
            }
    
            h2 {
                font-size: 4.7em;

                @media screen and (max-height: 750px ) {
                    font-size: 3.5em;
                }
            }
        }

        .about {
            
            p {
                font-weight: 600;
                font-size: 1.25em;
            }
        }


        button {
            font-size: 1.33em;
            color: #ffffff;
            font-weight: 800;
        }
    }

    #card {
        color: #000000;

        h2 {
            font-size: 4em;
            font-weight: 800;

            @media screen and (max-height: 750px ) {
                font-size: 3em;
            }
        }

        p {
            font-size: 1.75em;
        }

        figcaption {
            font-size: 1.33em;
        }
    }
}
