body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #ffffff;

    a {
        color: #ffffff;
        text-decoration: none; 
    }

    h2 {
        font-size: 4em;
        font-weight: 800;

        @media screen and (max-height: 850px) {
            font-size: 7vh;
        }

        @media screen and (orientation: portrait){
            font-size: 7vw;
        }

    }

    .bold {
        font-weight: 700;
    }

    .color {
        color: $secondaryColor;
    }
    
    aside {

        figure {

            figcaption {
                color: #000000;
                transition: all 0.3s ease;
            }

            &:hover {
                figcaption {
                    color: $secondaryColor
                }
            }
        }

        a,
        span{
            color: $primaryColor;
            transition: all 0.3s ease;
        }

        a {
            &:hover {
                color: $secondaryColor;
                
                span {
                    color: $secondaryColor;
                }
            }
            
        }

    }

    header {

        .callback {
            text-align: right;
            
            a {
                font-weight: 800;
                font-size: 1.4em;

                @media screen and (max-width: 450px) {
                    font-size: 3.5vw;
                }
            }
            
            p {
                margin-top: 10px;
                font-weight: 600;
                font-size: 0.9em;
                text-transform: uppercase;
            }
        }
        
        .header-activity {
            font-weight: 700;

            p {
                font-size: 1.7em;
                color: $secondaryColor;
            }
    
            h2 {
                display: inline-block;
                color: #ffffff;
                font-size: 4.7em;

                @media screen and (max-height: 850px ) {
                    font-size: 8vh;
                }


                @media screen and (orientation: portrait){
                    font-size: 6vw;
                }
            }
        }

        .about {
            
            p {
                font-weight: 600;
                font-size: 1.25em;
                transition: all 0.3s ease 0.3s;
                
                &:hover {
                    color: $secondaryColor;
                }

                @media screen and (max-width: 900px) {
                    font-size: 2.5vw;
                }
            }
        }


        .scroll-button {
            font-size: 1.33em;
            color: #ffffff;
            font-weight: 800;
        
            @media screen and (max-width: 500px) {
                font-size: 1em;
            }
        }
    }

    #card {
        color: #000000;

        .video {

            a {
                color: $secondaryColor;
                font-size: 5em;
            }

            figcaption {
                font-size: 1.25em;
                color: #ffffff;
                font-weight: 700;
            }
        }

        .card-information {

            p {
                font-size: 1.75em;
                line-height: 1.3em;
                max-width: 90%;

                @media screen and (max-height: 850px) {
                    font-size: 4vh;
                }

                @media screen and (orientation: portrait){
                    font-size: 4vw;
                }
            }
            
            figure {
                
                figcaption {
                    transition: all 0.5s ease;
                    font-size: 1.33em;

                    @media screen and (max-width: 1300px) {
                        font-size: 2vw;
                    }
                }

                &:hover {
                    figcaption {
                        color: #ffffff;
                    }
                
                }
            }
            
        }
    }

    #achievement {
        color: #000000;
        text-align: center;
        
        h3 {
            font-size: 2em;
            font-weight: 200;
        }

        figcaption {
            font-size: 1.5em;
        }

        .achievement-item__information {
            color: $primaryColor;
            font-size: 0.92em;

            .slider-button__item {
                color: #000000;
            }
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }

    }

    footer {
        color: #ffffff;    

        p:first-child {
            font-weight: 800;
        }

        p:last-child {
            font-size: 1.75em;
            font-weight: 300;
        }
    }
}
