#card {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .video {
        flex: 1 0 50%;
        background: scroll #000000 url(../img/Layer@1X.png) center center no-repeat;
        background-size: cover; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .play {
            transition: all 0.5s ease;

            &:hover {
                transform: rotate(360deg);
            }
        }

        figcaption {
            padding-top: 1em;
        }
    }

    .card-information {
        flex: 1 0 50%; 
        display: flex;
        justify-content: flex-start;

        .container {
            padding: 0 15px 0 0;
            flex: 0 1 $containerWidth/2;
            margin: 0;

            .card-data {
                
                padding-left: 8%; 

                h2 {
                    padding: 20vh 0 10vh;

                    @media screen and (max-height: 850px ) {
                        padding: 10vh 0 7vh;
                    }

                    @media screen and (orientation: portrait) {
                        padding: 10vh 0 7vh;
                    }
                }

                p {
                    max-width: 90%;
                }

                .card-items {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5vh;

                    figure {
                        flex: 0 1 260px;
                        height: 197px;
                        background-color: #f2f2f2;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        transition: all 0.5s ease;

                        
                        figcaption {
                            padding-top: 20px;
                            width: 94%;
                        }

                        &:hover {
                            background-color: $footerColor;
                        }

                        @media screen and (max-width: 1300px) {
                            height: auto;
                            padding: 3vh 0;

                            img {
                                width: 30%;
                                height: auto;
                            }
                        }
                    }

                    figure:first-child {
                        margin-right: 10px;
                    }

                    figure:last-child {
                        margin-left: 10px;
                    }
                }
            }   
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;

        .video {
            flex: 1 1 auto;
        }

        .card-information {
            flex: 2 1 auto;
            padding: 5vh 0;
            
            .container {
                
                .card-data {
                    
                    padding-left: 0; 
                    
                    h2 {
                        padding: 7vh 0 7vh;
                        
                    }
                }
            }
        }
        
    }

}
