footer {
    background-color: $footerColor;

    .container {
        display: flex;
        padding: 7vh 0;
        justify-content: space-evenly;

        p {
            margin: 1em 0;
        }
    }
}