header {
    background: scroll #000000 url(../img/mountain@1X.png) 70% center no-repeat;
    background-size: cover;

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .heading {
            margin-top: 5vh;
            display: flex;
            justify-content: space-between;
        }
    
        .header-information {
            flex: 1;

            h2 {
                max-width: 90%;
            }
        }
    
        .header-activity {
            margin: 15vh 0; 
    
            p {
                margin-bottom: 35px;
            }

            @media screen and (max-height: 500px) {
                margin: 5vh 0;
                
                p {
                    margin-bottom: 2vh;
                }
            }
        }
    
        .about {
            max-width: 853px;
            display: flex;
            justify-content: space-between;
    
            .about__item {
                flex: 0 1 250px;
                border-bottom: 1px solid #ffffff;
                transition: all 0.3s ease;

                &:hover {
                    border-bottom-color: $secondaryColor;
                }

                p {
                    padding-bottom: 15px;
                    transition: all 0.2s ease-in-out;
                   
                    &:hover {
                        transform: translateY(-2vh);
                    }
                }
            }

            .about__item:nth-child(2) {
                margin: 0 10px;
            }
        }
    }

}